@import "tailwindcss";
@import '@fontsource/inter';
@import '@fontsource/inter/600.css';


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

/* src/components/chat/TypingLoader.css */
.typing-loader {
  display: flex;
  align-items: center;
  padding: 10px 14px;
}

.typing-loader__dot {
  width: 8px;
  height: 8px;
  margin: 0 2px;
  background-color: #a0aec0; /* gray-400 */
  border-radius: 50%;
  animation: bounce 1.4s infinite ease-in-out both;
}

.typing-loader__dot:nth-child(1) {
  animation-delay: -0.32s;
}

.typing-loader__dot:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.0);
  }
}
